body{
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, td{
	font-family: Arial;
}

a{
	color: black;
	text-decoration: none;
}

ul{
	list-style: none;
	padding: 0;
}

li:hover{
	background-color: #03a9f4;
}

ul .sublist{
	margin-left: 25px;
}

.sidebar .active{
	background-color:  #03a9f4;
}


.container{
	width: 80%;
	margin: auto;
}

.header{	
	
	box-shadow:0px 1px 10px grey;
	top: 0;
	position: fixed;
	width: 100%;
	background-color: #03a9f4;
	color: white;
	z-index: 1;
	padding: 15px;

}

.header .title{
	float: left;
}

.header .title h1{
	margin: 0;
	padding: 0;
}

.logout {
	font-size: 25px;
	float: right;
	cursor: pointer;
			
}

.logout i {
	color: white;
}

.logout i:hover{
	color: grey;
}


.sidebar{
	background-color: #e0e0e0;
	height: 100%;
	position: fixed;
	top: 0;
	min-width: 300px;
	max-width: 300px;
	overflow-y: scroll;
	z-index: 0;
	padding: 10px;
	padding-top: 60px;	
	overflow-x: wrap;		
}

.sidebar h1, h2, h3{
	color: #37474f;
}

.event-details{
	margin-top: 100px;
	margin-left: 300px;	
}

.event-details-container{
	width: 80%;
	margin: auto;
	
}

.event-details-container table{
	margin-left: 30px;
}

#agenda, #committee-members, #attendees{
	width: 80%;
	margin:auto;
}

th{
	background-color:  #03a9f4;

}

#agenda td{
	font-family: Arial;
	text-align: center;
}

td h4{
	margin: 0;
	padding: 0;
}

th h3{
	margin: 0;
	padding: 0;
	color: white;
}

#agenda tr:hover{
	background-color: grey;
}

